@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
}

.center {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.left, .right {
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}